html,body{
  height: 100%;
}

.App {
  display: flex;
  text-align: center;
  height: 100%;
}

#root {
  height: 100%
}
/*navigation bar section*/
.header {
  background-color: #212121;
  padding: 15px;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

h1 {
  margin: auto;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bar-icon {
  width: 28px;
  height: 28px;
  padding-right: 18px;
}

.bar-icon:hover {
  cursor: pointer;
}

/*side bar*/

.side-nav-open {
  width: 300px;
  height: 100%;
  background-color: #000000;
}

.side-nav-close {
  display: none;
}

h3 {
  color: #FFF;
  margin: auto;
  padding: 18px;
}

input {
      padding: 10px;
}

.butn {

  background: #3498db;
  padding: 12px 20px;
  text-decoration: none;
  color: #FFF;
  border: 0;
}

.butn:hover {
  background: #3cb0fd;
  text-decoration: none;
  cursor: pointer;
}

/*map section*/


/* media queries */

@media only screen and (max-width: 600px) {
  .side-nav-open {
    width: 280px;
  }

  .header {
    padding: 12px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .side-nav-open {
    width: 290px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .side-nav-open {
    width: 300px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .side-nav-open {
    width: 300px;
  }

  .header {
    padding: 17px;
  }

  h3 {
    padding: 25px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .side-nav-open {
    width: 320px;
  }

  .header {
    padding: 17px;
  }

  .bar-icon {
    width: 30px;
    height: 30px;
  }

  h3 {
    padding: 25px;
  }

  input {
    padding-left: 20px;
    padding-right: 20px;
  }

  .butn {
    padding-left: 25px;
    padding-right: 25px;
  }
}
